@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap');

/*NAVBAR y GENERAL*/
.principalNav {
    background: linear-gradient(
        60deg,
        rgba(34, 78, 156, 100) 0%,
        rgba(0, 172, 193, 1) 100%
    );
    color: white;
}

.funcNavBar {
    background-color: #DADDFC;
}

.nav-tabs .nav-link.active {
    color: #950101;
}

.nav-pills .nav-link.active {
    background-color: #950101;
}

.card {
    border: 2px solid #950101;
    border-radius: 0.25rem;
}

/*USUARIOS*/
.usersContainer {
    display: flex;
}

.userBox {
    margin: 5px;
}

.numUser {
    background-color: #D2524A;
    border-radius: 5px;
    color: white;
    text-align: center;
}

@media (max-width: 991.98px) {
    .usersContainer {
        display: block;
    }
}

/*MENSAJERÍA*/
.btn-clear {
    background-image: url("../img/button.png");
    height: 44px;
    width: 44px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin: 0 auto;
    display: block;
}

.mesgContainer {
    display: flex;
}

.mesgBox {
    margin: 5px;
}

.numMesg {
    background-color: #D2524A;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.nameTitle {
    text-align: center;
}

@media (max-width: 991.98px) {
    .mesgContainer {
        display: block;
    }
}

/*SUGERENCIAS*/
.preferenceContainer {
    display: flex;
}

.suggBox {
    margin: 5px;
}

.instruction {
    font-family: 'Lato', sans-serif;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    text-align: center;
}

@media (max-width: 991.98px) {
    .preferenceContainer {
        display: block;
    }
}