body {
    text-align: center;
    background: linear-gradient(
      60deg,
      rgba(34, 78, 156, 100) 0%,
      rgba(0, 172, 193, 1) 100%
    );
    color: white;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 40px solid #224e9c;
    border-bottom: 20px solid transparent;
    float: right;
    margin-right: -22px;
    margin-top: 4px;
}

.dialogBox {
    background-color: #224e9c;
    width: 80%;
    border-radius: 15px;
    padding: 5px;
}

.preference-btn {
    height: 50px;
    width: 50px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin: 0 auto;
    display: block;
    border: 5px hidden;
}
.preference-btn1 {
    height: 50px;
    width: 50px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin: 0 auto;
    display: block;
    border: 5px hidden;
}

.btnSelected {
    border: 10px solid red;
}

#videogamesBtn {
    background-image: url("../img/icons8-control-50.png")
}

#readingBtn {
    background-image: url("../img/icons8-libro-60.png");
    height: 55px;
}

#artBtn {
    background-image: url("../img/icons8-paleta-de-pintura-48.png");
}

#sportsBtn {
    background-image: url("../img/icons8-deporte-50.png");
}

#techBtn {
    background-image: url("../img/icons8-wearable-technology-60.png");
    height: 52px;
    width: 57px;
}

#astrologyBtn {
    background-image: url("../img/icons8-stargaze-50.png");
}

#camaraBtn {
    background-image: url("../img/icons8-cámara-60.png");
    width: 56px;
}

#animeBtn {
    background-image: url("../img/icons8-naruto-50.png");
}

.btnStyle {
    background-color: #d2524a;
    color: white;
    border: none;
}
  
.btnStyle:hover {
    background-color: #950101;
    border-color: white;
    color: white;
}