@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Yeseva+One&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.bg-lightblue{
    background-color:#60C3D5;
}

.redwine{
    color:#950101;
}

.btn-contact{
    background-color: #D2524A
    ;
    color: #fff;
}

::selection{
    background-color: #224E9C;
    color:white;
}

#desc{
    text-align: justify;
}